---
AccessModifierOffset: '0'
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: 'true'
AlignOperands: 'true'
AlignTrailingComments: 'true'
AllowShortBlocksOnASingleLine: 'true'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: 'true'
AllowShortLoopsOnASingleLine: 'true'
AlwaysBreakBeforeMultilineStrings: 'true'
BinPackArguments: 'true'
BinPackParameters: 'true'
BreakBeforeBraces: Attach
ColumnLimit: '200'
ContinuationIndentWidth: '2'
Cpp11BracedListStyle: 'false'
IndentCaseLabels: 'false'
IndentWidth: '2'
KeepEmptyLinesAtTheStartOfBlocks: 'false'
Language: Cpp
MaxEmptyLinesToKeep: '1'
NamespaceIndentation: None
PenaltyBreakBeforeFirstCallParameter: '1'
PenaltyBreakComment: '5'
PenaltyBreakString: '10'
PenaltyExcessCharacter: '1'
PenaltyReturnTypeOnItsOwnLine: '1'
PointerAlignment: Left
SortIncludes: 'false'
SpacesBeforeTrailingComments: '1'
SpacesInCStyleCastParentheses: 'false'
SpacesInParentheses: 'true'
TabWidth: '2'

...
