# binary output
*log
screenshot_*
# compiled binaries
hellot
01_extended_init/extinit
02_shaders/shaders
03_vertex_buffer_objects/vbuffs
04_mats_and_vecs/matsvecs
05_virtual_camera/vcam
06_vcam_with_quaternion/quats
07_ray_picking/raypick
08_phong/phong
09_texture_mapping/texmap
10_screen_capture/scrcap
11_video_capture/vidcap
12_debugging_shaders/debugshdrs
13_mesh_import/meshimp
14_multi_tex/multitex
15_phongtextures/phongtex
16_frag_reject/fragrej
17_alpha_blending/alphablend
18_spotlights/spotlights
19_fog/fog
20_normal_mapping/nmap
cubemap
22_geom_shaders/geomsh
23_tessellation_shaders/tess
24_gui_panels/overlays
25_sprite_sheets/sprites
26_bitmap_fonts/fonts
generate
view
29_particle_systems/particles
32_skinning_part_three/skin
skin
fbuffer*
35_image_kernel/kernel
37_deferred_shading/deferred
38_texture_shadows/shads
38_texture_shadows/apple_notes/command_line
39_texture_mapping_srgb/texmap
41_shader_hot_reload/hotreload
pick
compute
exam*
# custom user data
atlas.meta
atlas.png
freefont-*
*.ttf
greek_*
*.save
# IDE and build systems temporary files
build/
build-*/
.vs/
*.osx-e
.vscode
*.gcda
*.gcno
*.swp
*.ilk
*.exe
*.pdb
*.idb
visual_studio/*/Debug/
visual_studio/*/*/Debug/
*.db
*.ipch
