*log
00_hello_triangle/hellot
00_hello_triangle_gl2.1/hellot
01_extended_init/extinit
02_shaders/shaders
03_vertex_buffer_objects/vbuffs
04_mats_and_vecs/matsvecs
05_virtual_camera/vcam
06_vcam_with_quaternion/quats
07_ray_picking/raypick
08_phong/phong
09_texture_mapping/texmap
10_screen_capture/scrcap
screenshot_*
11_video_capture/vidcap
12_debugging_shaders/debugshdrs
13_mesh_import/meshimp
14_multi_tex/multitex
15_phongtextures/phongtex
16_frag_reject/fragrej
17_alpha_blending/alphablend
18_spotlights/spotlights
19_fog/fog
20_normal_mapping/nmap
21_cube_mapping/cubemap
22_geom_shaders/geomsh
23_tessellation_shaders/tess
37_deferred_shading/deferred
38_texture_shadows/shads
38_texture_shadows/apple_notes/command_line
39_texture_mapping_srgb/texmap
pick
24_gui_panels/overlays
25_sprite_sheets/sprites
26_bitmap_fonts/fonts
29_particle_systems/particles
30_skinning_part_one/skin
31_skinning_part_two/skin
32_skinnng_part_three/skin
34_framebuffer_switch/fbuffer
35_image_kernel/kernel
00_hello_triangle/Makefile.osx-e
00_hello_triangle_gl2.1/Makefile.osx-e
*.osx-e
view
27_font_atlas/atlas.meta
27_font_atlas/atlas.png
generate
compute
hellot
exam*
freefont-*
*.ttf
fbuffer*
cubemap
*.swp
greek_*
*.ilk
*.exe
*.pdb
*.idb
.vscode
*.gcda
*.gcno
