name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build_ubuntu:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: install_deps
      run: sudo apt install libglew-dev libglfw3-dev libfreetype-dev libassimp-dev
    - name: build_all
      run: bash build_all_linux_macos.sh

  build_macos:
  
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - name: install_deps
      run: brew install glew glfw assimp freetype
    - name: build_all
      run: bash build_all_linux_macos.sh
